.back-link {
    position: fixed;
    top: 125px;
    left: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(188, 188, 188, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}
.back-link:hover {
    background-color: #787878;
}

.back-link-right {
    position: fixed;
    top: 125px; 
    right: 10px;
    color: #8c00ff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(207, 207, 207, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}
.back-link-right:hover {
    background-color: #7a7a7a;
}

.row div {
    display: flex;
    justify-content: space-between; /* 子要素間を均等に配置 */
    align-items: center; /* 縦方向の中央揃え */
}

/* ミッドナイト・ブループルテーマ */
body {
    background: linear-gradient(to left, #000000, #001155);
    background-size: 200%;
    animation: scrollBackground 9999s linear infinite !important; /* ゆっくり動かす */
    will-change: background-position;
}